<!DOCTYPE html>
<html lang="en-us" manifest="application.appcache">
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/media.css">
        <script type="text/javascript" src="../static/js/cache.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg"> <!--navigation bar-->
            <a class="navbar-brand" href="/">ChargeTASTIC</a>
            <!-- <img src="ChargingStation.jpg" alt="ChargingStation" width="1200" height="300"> -->
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/add">Add a New Location</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/search">See All Locations</a>
                    </li>
                </ul>
            </div>
        </nav>

        <img src="../static/img/ChargingStation.jpg" alt="ChargingStation" width=100% height=screen.height-55px>

        <div class = "container">
            <div class = "row">
                <div class = "col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <h2 class = "header-1">
                        What you can do with our APP
                    </h2>
                    <div class="sixty-forty-wrap">
                        <div class="sixty-forty-row">
                            <div class="sixty-side">
                                <b><div class="sixty-pre-title"><font color="blue">Quick Access</font></div></b>
                                <h4 class="sixty-title">View all ChargeTASTIC spots</h4>
                                <div class="sixty-blurb">
                                    Find a ChargeTASTIC station near you thats 
                                    open, available, and ready to be used. Our mobile 
                                    app makes easy for you to charge on-the-go. 
                                    In addition, it will help you find nearby 
                                    coffee shop, restautant, etc.
                                </div>
                            </div>
                            <div class="forty-side"> 
                                <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_quick-access-1.svg" alt="" 
                                class="forty-image">
                            </div>
                        </div>

                        <div class="sixty-forty-row">
                            <div class="sixty-side">
                                <b><div class="sixty-pre-title"><font color="blue">Travel With Confidence</font></b>
                            </div>  
                            <h4 class="sixty-title">Locate the nearest charger</h4>
                            <div class="sixty-blurb">
                                Use location services to easily find the closest 
                                charger, filter on charger type, and create a list 
                                of your favorite charging spots.
                            <br>
                            <br>
                            </div>
                        </div>
                        <div class="forty-side"> 
                            <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_travel-confidence-1.svg" alt="" class="forty-image">
                        </div>                      
                        <div class="sixty-forty-row">
                            <div class="sixty-side">
                                <b><div class="sixty-pre-title"><font color="blue">Power User</font></div></b>
                            </div>
                            <h4 class="sixty-title">Smart Charging</h4>
                            <div class="sixty-blurb">
                                Stay informed with real-time updates, charging 
                                status, history and payment details all from your 
                                app.
                                <br>
                                <br>
                            </div>
                            <div class="forty-side"> 
                                <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_charging-updates-1.svg" alt="" class="img-blurb__image">
                            </div>                      
                            <div class="sixty-side"> <br><br>Check your charging progress<br><br></div>
                            <div class="forty-side"> 
                                <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_history-balance-1.svg" alt="" class="img-blurb__image">
                            </div> 
                        </div>
                    </div>    
                    <div class="sixty-forty-row">
                        <div class="sixty-side">
                        <br>
                        <b><div class="sixty-pre-title"><font color="blue">How to charge?</font></div></b>
                        </div>
                        <div class="faq-list-block-blocks-wrap">
                            <div class="faq-list-block">
                                <h4 class="faq-list-block-title">CCS Combo</h4>
                                <div class="faq-list-block-content">
                                    <p>Electric vehicles with a CCS Combo DC Fast Charge port (note that depending on the year of your vehicle, the fast charge port may not have come standard):</p>
                                    <ul>
                                        <li>BMW i3</li>
                                        <li>Chevrolet Spark</li>
                                        <li>VW Golf</li>
                                    </ul>
                                    <img class="size-full" src="https://greenlots.com/wp-content/uploads/2018/04/combo-plug.jpg" alt="Combo Plug">
                                    <p>For more information, visit&nbsp;<a href="http://www.plugincars.com/electric-car-quick-charging-guide.html">http://www.plugincars.com/electric-car-quick-charging-guide.html</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sixty-forty-row">
                        <hr>
                        <h4 class="faq-list-block-title">CHAdeMO</h4>
                        <div class="faq-list-block-content">
                            <p>Electric vehicles with a CHAdeMO DC Fast Charge port (note that depending on the year of your vehicle, the fast charge port may not have come standard):</p>
                            <ul>
                                <li>Kia Soul EV</li>
                                <li>Mitsubishi i-MiEV</li>
                                <li>Nissan LEAF</li>
                                <li>Tesla Model S (with adaptor)</li>
                            </ul>
                            <p>
                                <img class="alignnone size-full wp-image-1067" src="https://greenlots.com/wp-content/uploads/2018/04/quick_outlet_ulce_name.jpg" alt=""> 
                                
                                <img class="alignnone size-full wp-image-1068" src="https://greenlots.com/wp-content/uploads/2018/04/YAZAKI_GEN2.jpg" alt=""> 
                                

                            </p>
                            <p>Plugging in and unplugging:</p>
                            <p>LEAF:&nbsp;
                                <a href="https://www.youtube.com/watch?v=WpYDep2olHg">https://www.youtube.com/watch?v=WpYDep2olHg</a>
                            </p>
                            <p>Soul EV:&nbsp;
                                <a href="https://www.youtube.com/watch?v=L2-7gN_Xwds">https://www.youtube.com/watch?v=L2-7gN_Xwds</a>
                            </p>
                            <p>Soul EV:&nbsp;
                                <a href="https://www.youtube.com/watch?v=8IHmc950RA8">https://www.youtube.com/watch?v=8IHmc950RA8</a>
                            </p>
                        </div>
                    </div>
                    <div class="faq-list-block">
                        <hr>
                        <h4 class="faq-list-block-title">Level 2</h4>
                        <div class="faq-list-block-content">
                            <img aria-describedby="caption-attachment-1069" class="size-full wp-image-1069" src="https://greenlots.com/wp-content/uploads/2018/04/sae-j1772c.jpg" alt="SAEJ1772" width="598" height="310">
                            <p id="caption-attachment-1069" class="wp-caption-text">SAEJ1772</p>
                            <p>For more information, visit&nbsp;<a href="http://www.plugincars.com/electric-car-quick-charging-guide.html">http://www.plugincars.com/electric-car-quick-charging-guide.html</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class = "col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <h2 class = "header-2">
                        Relevant infomation
                    </h2>
                    <hr class="my-4">
                    <div id= "bar"></div>
                    <hr>
                    <div id= "pie"></div>
                    <hr>
                </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="../static/js/bar.js"></script>
        <script src="../static/js/pie.js"></script>
    </body>
</html